<header class="main-nav">
  <div class="site-id">
    <h1>Tassone, Nick</h1>
    <p>designer, illustrator, enthusiast</p>
  </div>
  <nav>
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>