<aside>
  <h2>GoInstant</h2>
  <h3 class="project-link"><a href="http://goinstant.com">http://goinstant.com</a></h3>
  <p>Starting in 2013, I've been a part of all elements of design at GoInstant (acquired by Salesforce in 2012) from interface design to creating our visual brand. See our <a href="http://goinstant.com">homepage</a> and <a href="http://github.com/goinstant">GitHub account</a> to learn more about GoInstant.</p>
  <a href="/projects" class="back">Back</a>
</aside>
<article>
  <div>
    <img src="http://placebox.es/800/400" alt="">
    <p>Homepage</p>
  </div>
  <div>
    <img src="http://placebox.es/800/400" alt="">
    <p>Homepage</p>
  </div>
</article>