<aside>
  <h2>Halifax Airport</h2>
  <h3 class="project-link"><a href="http://hiaa.ca">http://hiaa.ca</a></h3>
  <p>Created while at <a href="http://kulapartners.com">Kula Partners</a>, the Halifax Airport website project is a complete overhaul of their previous static site. The project included a responsive design, integration of flight schedules, and monitor displays for the airport itself.</p>
  <a href="/projects" class="back">Back</a>
</aside>
<article>
  <div>
    <img src="http://placebox.es/800/400" alt="">
    <p>Homepage</p>
  </div>
  <div>
    <img src="http://placebox.es/800/400" alt="">
    <p>Parking diagram</p>
  </div>
</article>