<aside>
  <h2>Print &amp; Illustration</h2>
  <p>Work created for various print and apparel publications.</p>
  <a href="/projects" class="back">Back</a>
</aside>
<article>
  <div>
    <img src="http://placebox.es/800/400" alt="">
    <p>Homepage</p>
  </div>
  <div>
    <img src="http://placebox.es/800/400" alt="">
    <p>Homepage</p>
  </div>
</article>