<aside>
  <h2>Print &amp; Illustration</h2>
  <p>Work created for various print and apparel publications.</p>
  <a href="/projects" class="back">Back</a>
</aside>
<article>
  <div>
    <!-- <img src="<%= imgpath %>/projects/illo/" alt=""> -->
  </div>
</article>