<aside>
  <h2>Ouija</h2>
  <h3 class="project-link"><a href="http://ouija.io">http://ouija.io</a></h3>
  <p>An open source commenting system for the amazing new blogging platform <a href="http://ghost.org" target="_blank">Ghost</a>. Created with developers at GoInstant, Ouija creates inline comments for blog users and keeps extensibility and theming in mind.</p>
  <a href="/projects" class="back">Back</a>
</aside>
<article>
  <div>
    <img src="<%= imgpath %>/projects/ouija/ouija-1.jpg" alt="">
  </div>
  <div>
    <img src="<%= imgpath %>/projects/ouija/ouija-2.gif" alt="">
    <p>Ouija in action.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/ouija/ouija-3.gif" alt="">
    <p>Responsive inline commenting</p>
  </div>
</article>