<aside>
  <h2>Ouija</h2>
  <p>An open source commenting system for the amazing new blog cms <a href="http://ghost.org" target="_blank">Ghost</a>. Created with developers at GoInstant, Ouija creates inline comments for blog users and keeps extensibility and theming in mind.</p>
  <a href="/" class="back">Back</a>
</aside>
<article>
  <div>
    <img src="http://placebox.es/800/400" alt="">
    <p>Landing Page</p>
  </div>
  <div>
    <img src="http://placebox.es/800/400" alt="">
    <p>Homepage</p>
  </div>
</article>