<aside>
  <h2>Ouija</h2>
  <h3 class="project-link"><a href="http://ouija.io">http://ouija.io</a></h3>
  <p>An open source commenting system for the amazing new blogging platform <a href="http://ghost.org" target="_blank">Ghost</a>. Created with developers at GoInstant, Ouija creates inline comments for blog users and keeps extensibility and theming in mind.</p>
  <a href="/projects" class="back">Back</a>
</aside>
<article>
  <div>
    <img src="http://placebox.es/800/400" alt="">
    <p>Landing Page</p>
  </div>
  <div>
    <img src="http://placebox.es/800/400" alt="">
    <p>Commenting in action</p>
  </div>
  <div>
    <img src="http://placebox.es/800/400" alt="">
    <p>Responsive inline commenting</p>
  </div>
</article>