<aside>
  <h2>Soapbox</h2>
  <p>A project currently underway at <a href="goinstant">GoInstant</a>, Soapbox is an example of <a href="http://goangular.org">GoAngular</a>. The site aims to become a hub of developer talks (or "lunch and learns") in a user's area. Talks are categorized and helps users find events to attend.</p>
  <a href="/projects" class="back">Back</a>
</aside>
<article>
  <div>
    <img src="<%= imgpath %>/projects/soapbox/soapbox-1.jpg" alt="">
  </div>
  <div>
    <img src="<%= imgpath %>/projects/soapbox/soapbox-2.jpg" alt="">
  </div>
</article>