<aside>
  <h2>Storysight</h2>
  <h3 class="project-link"><a href="http://storysightapp.com">http://storysightapp.com</a></h3>
  <p>Storysight is a media management SaaS app that catalogues pitches and mentions while tracking media inquiries. My role required interface design, branding, and marketing. I created all design assets including building the front end of the responsive web app.</p>
  <p>Project created while at <a href="http://kulapartners.com">Kula</a>.</p>
  <a href="/projects" class="back">Back</a>
</aside>
<article>
  <div>
    <img src="http://placebox.es/800/400" alt="">
    <p>Homepage</p>
  </div>
  <div>
    <img src="http://placebox.es/800/400" alt="">
    <p>Homepage</p>
  </div>
</article>