<header class="main-nav">
  <div class="site-id">
    <h1><a href="/">Tassone, Nick</a></h1>
    <p>designer, illustrator, enthusiast</p>
  </div>
  <nav>
    <ul>
      <li><a href="/#about">About</a></li>
      <li class="<%- current.source == 'projects' ? 'active' : '' %>"><a href="/projects">Projects</a></li>
    </ul>
  </nav>
</header>