<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta property="og:image" content="http://nicktassone.com<%= imgpath %>/nick.png"/>
  <meta property="og:site_name" content="Nick Tassone Portfolio"/>

	<title><%= title %></title>

  <link rel="stylesheet" href="/assets/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="/assets/img/favicon/32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/img/favicon/16.png" sizes="16x16" />

</head>
<body>
<% include header %>