//Colors
$gray: #a6a0a0;
$red: #FF422A;
$blue: #0075FF;
$navy: #144278;
$purple: #474281;
$black: #111111;
$white: #eee;

//Brand Colors
$twitter: #54ABF4;
$dribbble: #E94D8A;
$github: #888888;
$instagram: #386793;

//Fonts
$font-sans: 'effra', 'Helvetica Neue', sans-serif;
$font-mono: 'Inconsolata', monospace;

//Grid
$padding: 4rem;
$header-size: 180px;
$sidebar-width: 300px;
