@import '../bourbon/app/assets/stylesheets/bourbon';
@import 'flex';
@import 'variables';
@import 'mixins';
@import 'fonts';

@import '../normalize.css/normalize.css';

html {
  -webkit-font-smoothing: antialiased;
}

* {
  @include box-sizing(border-box);
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding-top: $header-size;
  font-family: $font-mono;
  font-weight: normal;
  background: $black;
  @include transition(all .3s $ease-out-expo);
  &:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 6px;
    top: 0;
    left: 0;
    background: $red url(../img/tex-header.png) repeat-x;
    z-index: 1001;
  }
  &.header--top {
    padding-top: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  font-weight: 200;
}

a {
  color: $blue;
  @include transition(all .15s linear);
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

.main-nav {
  padding: $padding;
  background: white url(../img/tex-nav.png);
  background-size: 132px 132px;
  @include clearfix();
  @include transition(all .3s $ease-out-expo);
  @include screen($screen-mobile) {
    padding: $padding/2;
  }
  .site-id {
    float: left;
    @include screen($screen-mobile) {
      float: none;
      text-align: center;
    }
  }
  h1 {
    font-weight: 100;
    color: $red;
    margin: 0;
    @include screen($screen-mobile) {
      font-size: 1.75rem;
    }
    a {
      color: $red;
      &:hover {
        color: darken($red, 10%);
      }
    }
  }
  p {
    color: $gray;
    margin: 10px 3px;
    @include transition(all .3s $ease-out-expo);
  }
  nav {
    float: right;
    margin: 1.3rem 0 0;
    font-family: $font-sans;
    font-size: 1.25rem;
    font-weight: 100;
    @include screen($screen-mobile) {
      float: none;
      text-align: center;
    }
    a {
      display: block;
      padding: .5rem .75rem;
      margin-left: .5rem;
      text-decoration: none;
      &:hover {
        color: $red;
      }
    }
    li.active a {
      font-weight: 300;
      &:hover {
        color: $blue;
      }
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
    }
  }
  //Fixed header
  position: fixed;
  top: 0;
  left: 0;
  height: $header-size;
  width: 100%;
  z-index: 1000;
  &.headroom--not-top {
    height: 75px;
    padding: 1.5rem 4rem;
    @include screen($screen-tablet) {
      padding: 1.2rem 1.2rem 0 .75rem;
      height: 50px;
    }
    .site-id {
      h1 {
        @include screen($screen-tablet) {
          float: left;
          font-size: 1rem;
        }
      }
      p {
        opacity: 0;
        @include screen($screen-tablet) {
          display: none;
        }
      }
    }
    nav {
      margin: -3px 0 0;
      @include screen($screen-tablet) {
        float: right;
        a {
          font-size: 1rem;
          padding: 0;
        }
      }
    }
  }
}

.project {
  @include flexbox();
  width: 100%;
  > div {
    position: relative;
  }
  p {
    font-size: 1.1rem;
  }
  &.goinstant {
    @include screen($screen-tablet) {
      @include flex-dir(column);
    }
    .logo {
      padding: $padding;
      background: $navy right bottom no-repeat;
      background-image: url(../img/goinstant/tree.png);
      @include hidpi() {
        background-size: 50%;
      }
      @include flexbox();
      @include align-items(center);
    }
    .showcase {
      @include flex-grow(1);
      @include flexbox();
      background: #4a83c7 url(../img/goinstant/showcase.png) repeat-x;
      background-position: left bottom;
      color: white;
      @include screen($screen-small) {
        @include flex-direction(column);
      }
      > div {
        width: 100%;
        padding: $padding/2;
        z-index: 200;
        &:first-child {
          padding: $padding/1.25 $padding;
        }
        &:last-child {
          a {
            margin: $padding/4;
            
          }
        }
      }
      a {
        display: block;
      }
      h2, p {
        display: inline-block;
        margin: 0 .25rem 0;
        color: white;
      }
      p {
        color: lighten($blue, 35%);
        position: relative;
        font-size: 1.1rem;
        top: 1px;
      }
      img {
        border-radius: 2px;
      }
      &:after {
        content: "";
        @include fill-parent();
        z-index: 100;
        @include linear-gradient(lighten($navy, 10%), fade-out(#4a83c7, 1), $fallback: transparent);
      }
    }
  }
  &.ouija {
    min-height: 450px;
    @include screen($screen-tablet) {
      @include flex-dir(column);
    }
    .showcase {
      @include flexbox();
      @include flex-grow(2);
      padding: $padding/2 $padding;
      background: $purple url(../img/ouija/showcase.png) no-repeat $padding bottom;
      @include screen($screen-mobile) {
        height: 400px;
        background-position: bottom;
        padding: $padding/2;
        @include hidpi() {
          background-size: 150%;
        }
      }
      h2 {
        margin-bottom: 0;
        a { color: white; }
      }
      p {
        color: lighten($purple, 30%);
        margin-top: .65rem;
        @include screen($screen-mobile) {
        }
        a {
          color: lighten($purple, 30%);
        }
      }
    }
    .logo {
      position: relative;
      @include flex-grow(1);
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      background: darken($purple, 5%) url(../img/ouija/logo-bg.png) no-repeat;
      background-size: cover;
      background-position: -9rem center;
      min-width: 350px;
      overflow: hidden;
      @include screen($screen-tablet) {
        background-position: center;
        min-width: 0;
      }
      img {
        position: absolute;
        z-index: 2;
        right: 50px;
        &.shadow {
          z-index: 1;
          top: 22px;
          right: 40px;
        }
      }
    }
    .ouija-logo {
      position: relative;
      @include animation(ouija 7s $ease-in-out-quart infinite);
      > div {
        width: 250px;
        height: 300px;
        @include hidpi {
          @include transform(scale(.5)); 
        }
      }
    }
  }
  &.illo {
    @include screen($screen-tablet) {
      @include flex(1, 100%, auto);
      @include flex-dir(column);
    }
    p, p a {
      color: darken($gray, 25%);
    }
    .logo {
      @include flex-grow(1);
      @include flexbox();
      @include align-items(flex-end);
      @include justify-content(flex-start);
      background: gray url(../img/illo/select.png) center 57% no-repeat;
      min-height: 550px;
      max-width: 450px;
      padding: $padding/2 $padding;
      @include screen($screen-tablet) {
        text-align: center;
        max-width: none;
        background-size: cover;
      }
      @include screen($screen-mobile) {
        min-height: 125px;
        background-size: 150%;
        p, p a {
          color: white;
        }
      }
    }
    .showcase {
      @include flexbox();
      @include flex-grow(2);
      background: $black;
      @include screen($screen-tablet) {
        @include flex-direction(column);
      }
      > div {
        width: 100%;
        padding: $padding/1.2 $padding/3 $padding/1.2 $padding;
        @include screen($screen-tablet) {
          padding: $padding/2;
        }
      }
      h2 {
        margin-top: 0;
        margin-bottom: 2rem;
        a {
          color: white;
        }
      }
      > a {
        float: left;
        clear: both;
      }
      p {
        margin-bottom: 1.5rem;
      }
      .top {
        display: block;
        margin-bottom: -4rem;
      }
    }
  }
}

.about {
  background: url(../img/tex-nav.png);
  background-size: 132px 132px;
  @include flexbox();
  width: 100%;
  @include screen($screen-mobile) {
    @include flex-dir(column);
  }

  aside {
    display: block;
    width: 110%;
    background: #222 url(../img/nick.png) right no-repeat;
    background-size: cover;
    @include flexbox();
    @include align-items(center);
    @include screen($screen-mobile) {
      height: 300px;
      background-position: center center;
    }
    img {
      width: 200%;
    }
    @include screen($screen-tablet) {
      width: 100%;
    }
  }
  article {
    @include flexbox();
    @include flex-grow(1);
    @include flex-flow(row wrap);
    > div {
      padding: $padding/2 $padding;
      @include screen($screen-mobile) {
        padding: $padding/2;
      }
    }
    p {
      line-height: 1.5;
      font-size: 1.1rem;
    }
    .contact {
      @include flex-grow(1);
      @include flexbox();
      @include flex(1, 0, 25%);
      border-top: 1px solid fade-out($gray, .75);
      padding-top: 2rem;
      margin-top: 2rem;
      @include screen($screen-mobile) {
        padding: 0;
        margin-top: 0;
        border-top: 0;
      }
      a {
        display: inline-block;
        font-size: 1.3rem;
        margin-right: 1rem;
        font-family: $font-sans;
        font-weight: 200;
        text-align: center;
        @include screen($screen-mobile) {
          color: white;
          margin: 0;
          width: 100%;
          height: 80px;
          padding-top: 24px;
          font-size: 25px;
          span:before {
            font-size: 1.5rem;
            margin-right: 0;
          }
          span:last-child {
            display: none;
          }
        }
      }
    }
  }
  .twitter {
    color: $twitter;
    @include screen($screen-mobile) {
      background-color: $twitter;
    }
  }
  .dribbble {
    color: $dribbble;
    @include screen($screen-mobile) {
      background-color: $dribbble;
    }
  }
  .github {
    color: $github;
    @include screen($screen-mobile) {
      background-color: $github;
    }
  }
  .instagram {
    color: $instagram;
    @include screen($screen-mobile) {
      background-color: $instagram;
    }
  }


}

@include keyframes(ouija) {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: -25px;
    top: -25px;
  }
  50% {
    left: -50px;
    top: 25px;
  }
  75% {
    left: 25px;
    top: -50px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

main {
  width: 100%;
  padding: $padding;
  padding-bottom: 5rem;
  color: $white;
  @include clearfix();
  @include screen($screen-tablet) {
    padding: 2rem;
  }
  p {
    color: $gray;
    a {
      position: relative;
      text-decoration: none;
      border-bottom: 1px solid $blue;
      &:hover {
        color: $red;
        border-color: $red;
      }
    }
  }
  aside {
    width: $sidebar-width;
    position: fixed;
    @include screen($screen-tablet) {
      width: auto;
      position: relative;
      text-align: center;
    }
    h2 {
      font-weight: 300;
      font-size: 2.25rem;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.5;
    }
    .project-link a {
      color: $red;
    }
  }
  article {
    float: right;
    padding-left: $sidebar-width + 50px;
    text-align: center;
    @include screen($screen-tablet) {
      margin: 2rem 0;
      padding-left: 0;
    }
    > div {
      margin-top: 6.5rem;
      @include screen($screen-tablet) {
        margin-top: 2rem;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    img {
      border-radius: 2px;
    }
  }
  .back {
    display: block;
    color: $gray;
    border-top: 1px solid #222;
    padding-top: 2rem;
    text-transform: uppercase;
    &:before {
      content: "\2190";
      position: relative;
      top: 1px;
      margin-right: 3px;
    }
    &:hover {
      color: white;
    }
  }
}

.projects-list {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  @include flexbox();
  @include flex-flow(row wrap);
  @include screen($screen-mobile) {
    @include flex-dir(column);
    margin: 0;
  }
  li {
    @include flex(1, 0, 33%);
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
    @include screen($screen-mobile) {
      @include flex(0, 0, 0);
      margin-bottom: 1rem;
    }
    a {
      display: inline-block;
      color: $gray;
      &:hover {
        color: $blue;
      }
    }
    h4 {
      @include screen($screen-mobile) {
        margin: .5rem 0;
      }
    }
  }
  img {
    border-radius: 2px;
  }
}


